
*.mat
FetchLaws/main.asv
*.txt
FetchLaws/largerun_main_Titan/Omni.gif
FetchLaws/largerun_main_Titan/main.asv
FetchLaws/groundtruthing/TestingChanges.xlsx
*.asv
FetchLaws/groundtruthing/testing_changes_ref.mlx
*.pyc
wave_env/
env/
EarthAnalysis/GreatLakes/LakeData/superior_lld.tif
EarthAnalysis/GreatLakes/LakeData/us_medium_shoreline.shp
!EarthAnalysis/GreatLakes/BuoyData/Superior/DATAREADME.txt
!EarthAnalysis/GreatLakes/LakeData/DATAREADME.txt
*.jpg
*.csv
*.nc
*.log
*.out
.pRUN_Parallel_Stub_testWaves_cluster_temp
*.svg
/venv
*.bak
!PLANETWAVES_README.txt
/docs/venv
!requirements.txt
!DATA_README.txt
*.gif
*.tiff
!ol_bathtub_0.002000_slope.mat
!ol_bathtub_0.000500_slope.mat
!lm_bathtub_0.002000_slope.mat
!lm_bathtub_0.005000_slope.mat
/docs/.venv
