
*.mat
FetchLaws/main.asv
!EarthAnalysis/GreatLakes/BuoyData/Superior/DATAREADME.txt
!EarthAnalysis/GreatLakes/LakeData/DATAREADME.txt
*.log
*_RunLog.txt
!PLANETWAVES_README.txt
/docs/venv
!requirements.txt
!DATA_README.txt
!ol_bathtub_0.002000_slope.mat
!ol_bathtub_0.000500_slope.mat
!lm_bathtub_0.002000_slope.mat
!lm_bathtub_0.005000_slope.mat
/docs/.venv
*.asv
